body{
    background-color: black;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}




.boxer{
border-radius: 0px;
background: #0c0b14;
box-shadow:  20px 20px 60px #f0ad4e,
             -20px -20px 60px #f0ad4e;

}




/*nav bar styling*/
.navbar{
 
 background: transparent;
 backdrop-filter: blur(10px);
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}
.nav-link{
  color: #f0ad4e;
}
/*nav bar styling end*/

/*button Hire*/
/*.Hire{
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 10px;
}
/*button Hire ends*/

button {
  color: #f0ad4e;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #050404;
  cursor: pointer;
  border: 1px solid #030303;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #f0ad4e, -6px -6px 12px #f0ad4e;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #ace99d, inset -4px -4px 12px #40db40;
}

/* icons list */
.fotterUl{
  list-style: none;
}
.IcnLi{
  display: inline-block;
  margin: 5px;   
}
.icon-img {
  width: 35px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
}
/* icons list End*/

/* projects section */
.con {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .con:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .crd {
    position: absolute;
    width: auto;
    height: 250px;
    left: 0;
  }
  
  .title {
    position: absolute;
    width: 500px;
    left:0;
    top: 120px;
   
    font-weight: 700;
    font-size: 30px;
    
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .con:hover .title {
    top: 90px;
  }
  
  .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;

  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .con:hover .button {
    opacity: 1;
  }
  /* projects section end */
  /*Education*/
  .Edu-img{
    height: 250px;
    width: 400px;
    border: 5px solid white;
  }
  /*Education Ends*/

/*Contact*/
.Social{
  list-style: none;
 
}
.Sli-img{
  height: 35px;
  margin: 10px;
}
.Social-li{
  
  padding: 10px;
  display: inline-block;

}
.Social-li a{
  color: aliceblue;
}

/*form*/

.Fname{
}
